<meta charset="utf-8">
<!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>NewCrafts Bordeaux 2019 — October 3rd & 4th 2019</title>

<meta name="description"
    content="NewCrafts Bordeaux on October 3rd & 4th, an ephemeral learning ground for professional developers who care for quality code and bettering their practices.">
<meta name="keywords"
    content="Software Craftsmanship, Software Development, Programming, Conference, Tech conference, Bordeaux">
<meta name="author" content="NewCrafts">

<link rel="shortcut icon" href="/assets/img/favicon2.ico">
<link rel="apple-touch-icon" href="/assets/img/logo2.png">
<link rel="apple-touch-icon" sizes="256x256" href="/assets/img/logo2.png">

<link rel="stylesheet" type="text/css" href="/assets/css/custom-animations.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style-blue-color.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/mine.css" />

<!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
<![endif]-->