{{ define "main" }}
<header class="header header-black">
    <div class="header-wrapper">
        <div class="container">
            <div class="col-sm-2 col-xs-12 navigation-header align-center">
                <a href="/" class="logo">
                    <img src="/assets/img/logo2.png" alt="NewCrafts" height="85" class="retina-hide">
                    <img src="/assets/img/logo2.png" alt="NewCrafts" height="85" class="retina-show">
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"
                    aria-expanded="false" aria-controls="navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="col-sm-10 col-xs-12 navigation-container">
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="navigation-list pull-left light-text">
                        <li class="navigation-item">
                            <a href="#description" class="navigation-link">The workshop</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#register" class="navigation-link">Register</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#informations" class="navigation-link">Informations</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>
<section id="description" class="section align-center">
    <div class="container">
        <div class="container">
            <div class="col-sm-6">
                <i class="fa fa-clock-o"></i>&nbsp;{{ dateFormat "January 2" .Params.begin }},
                {{ dateFormat "15:04" .Params.begin }} - {{ dateFormat "15:04" .Params.end }}
                <br>
                <i class="fa fa-map-marker"></i>&nbsp;Bordeaux
                <h4>{{ .Params.Name }}</h4>
                <div class="speaker">
                    {{ with printf "speakers/%s/%s" .Params.year .Params.author | .Site.GetPage }}
                    {{ .Render "portrait"}}
                    <h5>{{ .Name }}</h5>
                    {{ end }}
                </div>
            </div>
            <div class="col-sm-6 align-left">
                {{ .Content }}
            </div>
            <div class="col-sm-6 align-center">
                <h3>{{ .Params.price }} € HT</h3>
                <h5>{{ .Params.participants}} participants maximum</h5>
                <h5>Formation en anglais</h5>
            </div>
        </div>
    </div>
</section>
<section id="register" class="section overlay bg-cover bg4 light-text align-center">
    <div class="container">
        <h2>S'inscrire pour {{ .Params.Name }}</h2>
        <br>
        Notre partenaire, Audavia, vous contactera pour mettre en place la convention de formation.

        <br>
        <br>
        <form class="form-horizontal" data-netlify="true" action="/registration/success/" method="post"
            name={{ printf "%s-workshops" .Params.Year }}>
            <input type="hidden" name="workshop" value={{ .Params.Name }}>
            <div class="form-group">
                <label for="company" class="col-sm-4 control-label">Entreprise</label>
                <div class="col-sm-5">
                    <input type="text" name="company" class="form-control" id="company" placeholder="Entreprise">
                </div>
            </div>
            <div class="form-group">
                <label for="company_address" class="col-sm-4 control-label">Adresse de l'entreprise</label>
                <div class="col-sm-5">
                    <textarea type="text" name="company_address" class="form-control" id="company_address"
                        placeholder="Adresse"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="company_siret" class="col-sm-4 control-label">SIRET</label>
                <div class="col-sm-5">
                    <input type="text" name="company_siret" class="form-control" id="company_siret" placeholder="SIRET">
                </div>
            </div>
            <div class="form-group">
                <label for="contact_name" class="col-sm-4 control-label">Nom du contact</label>
                <div class="col-sm-5">
                    <input type="text" name="contact_name" required class="form-control" id="contact_name"
                        placeholder="Nom du contact">
                </div>
            </div>
            <div class="form-group">
                <label for="contact_email" class="col-sm-4 control-label">Email du contact</label>
                <div class="col-sm-5">
                    <input type="email" name="contact_email" required class="form-control" id="contact_email"
                        placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="contact_phone" class="col-sm-4 control-label">Numéro de téléphone du contact</label>
                <div class="col-sm-5">
                    <input type="tel" name="contact_phone" class="form-control" id="contact_phone" placeholder="06">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input id="opco" type="checkbox" name="opco"> Je souhaite utiliser mon OPCO pour financer
                            cette formation
                        </label>
                    </div>
                </div>
            </div>
            <div id="opcoQuestions" class="hidden">
                <div class="form-group opco">
                    <label for="opco_name" class="col-sm-4 control-label">Nom de mon OPCO</label>
                    <div class="col-sm-5">
                        <input type="tel" name="opco_name" class="form-control" id="opco_name" placeholder="OPCO">
                    </div>
                </div>
                <div class="form-group opco">
                    <label for="company_size" class="col-sm-4 control-label">Taille de mon entreprise</label>
                    <div class="col-sm-5">
                        <input type="tel" name="company_size" class="form-control" id="company_size"
                            placeholder="<10 salariés | de 11 à 50 salariés">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input id="delegate" type="checkbox" checked name="delegate"> Je fais cette demande pour
                            moi-même
                        </label>
                    </div>
                </div>
            </div>
            <div id="attendees" class="hidden">
                {{ range seq 6 }}
                <div class="attendee">
                    <h5>Participant·e {{ . }}</h5>
                    <div class="form-group">
                        <label for="attendee_name_{{ . }}" class="col-sm-4 control-label">Nom du participant·e
                            {{ . }}</label>
                        <div class="col-sm-5">
                            <input type="text" name="attendee_name_{{ . }}" class="form-control"
                                id="attendee_name_{{ . }}" placeholder="Nom du participant·e">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attendee_function_{{ . }}" class="col-sm-4 control-label">Fonction du
                            participant·e {{ . }}</label>
                        <div class="col-sm-5">
                            <input type="text" name="attendee_function_{{ . }}" class="form-control"
                                id="attendee_function_{{ . }}" placeholder="Fonction du participant·e">
                        </div>
                    </div>
                </div>
                {{ end }}
                <div class="form-group" id="addAttendee">
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="button" class="btn btn-block btn-info">Ajouter une personne de plus</button>
                    </div>
                </div>
                <div class="form-group" id="removeAttendee">
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="button" class="btn btn-block btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <button type="submit" class="btn btn-default btn-outline">Register</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="informations">
    <div class="contacts-wrapper">
        <div id="contacts-map" class="map" data-settings="/assets/map-settings.json" style="height:560px;"></div>

        <div class="container contacts-on-map-container">
            <div class="contacts-on-map">
                <h3>{{ .Params.locationName }}</h3>

                <ul class="list">
                    <li>
                        <i class="fa fa-map-marker"></i>{{ .Params.location }}
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>{{ dateFormat "January 2" .Params.begin }},
                        {{ dateFormat "15:04" .Params.begin }} - {{ dateFormat "15:04" .Params.end }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}

{{ define "scripts"}}
{{ $script := resources.Get "js/workshop.js" | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src={{ $script.RelPermalink}}></script>
{{ end }}