.promo {
  @include make-container();
  background-image: url('../../assets/images/bordeaux.jpg');
  background-size: cover;
  height: 400px;
  padding-top: 1em;
  color: $white;

  .text {
    @include make-col-ready();
    @media (max-width: 52em) {
      @include make-col(12);
    }
    @media (min-width: 52.1em) {
      @include make-col(6);
    }

    h1 {
      padding-bottom: 1em;
      border-bottom: 1px solid white;
    }
  }

  .date {
    text-align: center;
    vertical-align: middle;
    @include make-col-ready();
    @media (max-width: 52em) {
      @include make-col(12);
    }
    @media (min-width: 52.1em) {
      @include make-col(6);
    }
  }
}