#promo {
  background-size: cover;
  background: url('../../assets/images/bordeaux.jpg') no-repeat center center fixed;
  color: $color2;
  position: relative;

  .text {
    padding: 10rem 2rem;
    h1 {
      border-bottom: 1px solid white;
    }
  }

  .date {
    padding: 10rem 2rem;
  }
}

header#promo::before {
  content: "";
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}