.promo {
  @include make-container();
  background-size: cover;
  background: url('../../assets/images/bordeaux.jpg') no-repeat center center fixed;
  height: 400px;
  padding-top: 1em;
  color: $white;
  position: relative;

  .text {
    @include make-col-ready();
    @media (max-width: 52em) {
      @include make-col(12);
    }
    @media (min-width: 52.1em) {
      @include make-col(6);
    }

    h1 {
      padding-bottom: 1em;
      border-bottom: 1px solid white;
    }
  }

  .date {
    text-align: center;
    vertical-align: middle;
    @include make-col-ready();
    @media (max-width: 52em) {
      @include make-col(12);
    }
    @media (min-width: 52.1em) {
      @include make-col(6);
    }
  }
}

header.promo::before {
  content: "";
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}