<!doctype html>
<html lang="en">

<head>
    {{ partial "head/head.html" . }}
    {{ block "meta" . }}
    <title>NewCrafts Bordeaux 2019 — October 3rd & 4th 2019</title>

    <meta name="description"
        content="NewCrafts Bordeaux on October 3rd & 4th, an ephemeral learning ground for professional developers who care for quality code and bettering their practices.">
    <meta name="keywords"
        content="Software Craftsmanship, Software Development, Programming, Conference, Tech conference, Bordeaux">
    <meta name="author" content="NewCrafts">

    {{ end }}
</head>

<body>

    {{ partial "header/preload.html" .}}

    {{ block "main" . }}

    {{ end }}

    {{ partial "footer/footer.html" .}}

    {{ partial "footer/scripts.html" . }}
    {{ block "scripts" . }}
    {{ end }}
</body>

</html>