<section class="footer">
    <div class="container">

        <div class="col-md-4">
            <div class="widget about-widget">
                <h6 class="widget-head">About
                    <span class="highlight">NewCrafts</span>
                </h6>
                <p class="text-alt">
                    <small>NewCrafts is an independent and international software development conference held
                        annually in Paris
                        since 2014.
                        <br /> Created by developers for developers, NewCrafts is an ephemeral learning ground for
                        professional
                        developers
                        who care for quality code and bettering their practices.
                    </small>
                </p>
            </div>
        </div>

    </div>

    <div class="footer-base">
        <div class="container">

            <div class="col-md-6">
                <ul class="footer-nav">
                    <li class="footer-nav-item">
                        <a href="#contacts">Contact</a>
                    </li>
                    <li class="footer-nav-item">
                        <a href="#coc">Code of conduct</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 align-right">
                <ul class="socials-nav align-right">
                    <li class="socials-nav-item">
                        <a target="_blank" href="https://twitter.com/ncraftsBdx">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li class="socials-nav-item">
                        <a target="_blank" href="https://github.com/ncraftsconf">
                            <span class="fa fa-github"></span>
                        </a>
                    </li>
                    <li class="socials-nav-item">
                        <a target="_blank" href="http://videos.ncrafts.io/">
                            <span class="fa fa-vimeo-square"></span>
                        </a>
                    </li>
                </ul>

                <p class="text-alt">
                    <small>NewCrafts Bordeaux {{  now.Format "2006" }}</small>
                </p>
            </div>

        </div>
    </div>
</section>