<!--[if lt IE 9]>
      <script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js?ver=1"></script>
    <![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js?ver=1"></script>
<!--<![endif]-->

<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/toastr.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="/assets/js/jquery.plugin.js"></script>
<script type="text/javascript" src="/assets/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/modal-box.js"></script>
<script type="text/javascript" src="/assets/js/ventcamp.js"></script>
<script async type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBLvWRkzKyZLd9-NqSH4eh2aq87gMeUFk8&callback=mapsCallback"></script>