<section id="openspace" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-graphic-design-25"></span>
        <h3>Open space</h3>
        <p class="text-alt">Discover the
            <span class="highlight">unconference</span>
        </p>
        <br />
        <br />
        <p>
            <span class="label label-primary">#CraftingSoftware</span>
            <span class="label label-primary">#Agile</span>
            <span class="label label-primary">#DDD</span>
            <span class="label label-primary">#Architecture</span>
            <span class="label label-primary">#SoftwareEthics</span>
            <span class="label label-primary">#WorkingTogether</span>
        </p>
        <br />
        <br />
        <div class="col-sm-6 align-center img-column">
            <img src="/assets/img/gallery/bordeaux_3.jpg" alt="" />
        </div>

        <div class="col-sm-6 align-left">
            <article style="max-width: 480px;">
                <h3>Sharing passion & experience</h3>
                <p>
                    The concept of "open space" is a conference where the agenda is created by the participants,
                    allowing each
                    of them to propose a topic he/she wishes to discuss. Anyone interested in the proposed topic can
                    then join the discussion.
                </p>
                <p>
                    The topics are mainly related to software crafting, sociology & ethics.
                </p>
                <p>
                    The open space is really the time when you can learn a lot from your peers.
                </p>
                <p>Visit <a target="_blank" href="https://openspaceworld.org/wp2/what-is/">this website (en)</a> or
                    read <a target="_blank"
                        href="https://medium.com/arpinum/les-conf%C3%A9rences-open-spaces-7a0859757729">this article
                        (fr)</a> to learn more about Open Space.</p>
            </article>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">


            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">
                        Dans notre métier, pouvoir assister à des conférences est souvent intéressant que ce soit à
                        propos d'une techno hype, d'architecture et concepts logiciels ou encore de sujets plus
                        variés tel que les sciences humaines, comme nous pouvons en voir à NewCrafts, il y a
                        toujours quelque chose à y apprendre.
                        <br />Mais le concept de l'open-space nous emmène encore plus loin.
                        <br />Oublié le speaker distribuant sa connaissance à toute une assemblée, terminé les
                        questions que l'on garde pour la fin et que l'on n'ose pas poser.
                        <br />Dans l'open-space, c'est une discussion qui s'installe autour d'un sujet que vous avez
                        choisi et que vous pouvez quitter si la discussion ne vous intéresse plus.
                        <br />Dans l'open-space vous êtes libre d'apporter un point de vue différent, de proposer
                        une mini-conf, ou juste d'écouter.
                        <br />Bref, dans l'open-space vous apprendrez autant ou plus que lors d'une conférence
                        "classique" et de manière plus participative et interactive... alors pourquoi s'en priver ?
                    </article>
                    <div class="author-block">
                        <div class="photo-container"
                            style="background-image: url('/assets/img/testimonials/srabiller.jpg')"></div>
                        <strong class="name">Sébastien Rabiller</strong><small class="text-alt">Développeur</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">
                        Si vous voulez approfondir un sujet abordé lors d'une conférence, picorer des idées
                        inspirantes, faire un tour sur de nombreux aspects variés de l'informatique (techno,
                        technique, social), alors l'Open Forum vous fera du bien.
                    </article>
                    <div class="author-block">
                        <div class="photo-container"
                            style="background-image: url('/assets/img/testimonials/client1.jpg')">
                        </div>
                        <strong class="name">Zoé</strong><small class="text-alt">Développeuse</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">
                        Pour moi, l’Open Forum est de loin le meilleur endroit pour proposer et partager des sujets
                        qui nous tiennent à cœur.
                        <br />Sur les deux années, j’ai en tête par exemple 'Le coût de la qualité', 'Kebab kata',
                        'Anarchisme et dev', 'High Order Component en React', 'Rendre le Craft plus accessible'.
                        <br />Cette journée est peut-être même encore plus riche que la journée de
                        conf&nbsp;&#128521;</article>
                    <div class="author-block">
                        <div class="photo-container"
                            style="background-image: url('/assets/img/testimonials/ftisseyre.jpg')"></div>
                        <strong class="name">Floris Tisseyre</strong><small class="text-alt">Consultant</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="testimonial">
                    <article class="text-box">
                        Le format "open space" permet non seulement de découvrir de nouveaux sujets, mais aussi d'en
                        proposer, et de confronter ses idées.
                        La possibilité de changer de "track" à tout moment donne une liberté très appréciable, et
                        permet de se concentrer sur les sujets qui nous intéressent vraiment.
                        Si je devais faire une seule journée à NewCrafts, ce serait celle-là. J'ai a-do-ré le format
                        !</article>
                    <div class="author-block">
                        <div class="photo-container"
                            style="background-image: url('/assets/img/testimonials/afillatre.jpg')"></div>
                        <strong class="name">Alexandre Fillatre</strong><small class="text-alt">Architecte
                            logiciel</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>