<section id="training" class="section align-center">
    <div class="container">
        <!--span class="icon section-icon icon-education-science-09"></span-->
        <h3>Formation professionnelle</h3>
        <p class="text-alt">Envoyez vos collaborateurs au titre de la <span class="highlight">formation
                professionnelle</span><br /> grâce à notre partenaire&nbsp;:</p>
        <div class="sponsors">
            <div class="sponsor inline">
                <a href="http://reacteev.com/ncrafts-bordeaux-2019" target="_blank" title="Reacteev">
                    <img height="120px" src="/assets/img/reacteev.png" alt="REACTEEV">
                </a>
            </div>
        </div>
    </div>
</section>