<section id="transport" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-travel-transportation-06"></span>
        <h4>How to get to the venue?</h4>
        <h5>Direct Shuttle from the airport to the train station</h5>
        <p>
            <ul>
                <li>
                    <strong>Time: 30'</strong>
                </li>
                <li>
                    <strong>Price: 8€ (one way)</strong>
                </li>
                <li>
                    <a href="http://30direct.com/en/high-season-schedule/">Timetables</a>
                </li>
                <li>
                    <a href="http://30direct.com/en/tarifs-vente-tickets/">Fares</a>
                </li>
            </ul>
        </p>
        <h5>Tram from the train station to Cité Mondiale</h5>
        <p>
            <ul>
                <li>
                    <strong>Time: 25'</strong>
                </li>
                <li>
                    <strong>Price: 1.50€ (one way)</strong>
                </li>
            </ul>
            <ol>
                <li>Tram C from Train station (Gare St Jean) to Quinconces (direction> Gare de Blanquefort) (15
                    minutes)
                </li>
                <li>Change tram line</li>
                <li>Tram B from Quinconces to CAPC Musée d'Art Contemporain (3 minutes)</li>
            </ol>
        </p>
        <br> You can get more info and prepare your itinerary with public transports from the
        <a href="https://www.infotbm.com/">TBM website</a>.
    </div>
</section>