<section id="past" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
    <div class="container">
        <span class="icon section-icon icon-socialmedia-28"></span>
        <h3>Past Events</h3>
        <br />
        <p>From the past 5 years of conferences, we have an amazing library of videos! All videos are free to watch
            or
            download for offline viewing</p>
        <a href="http://videos.ncrafts.io/" target="_blank" class="btn btn-lg btn-outline">Videos</a>
        <br>
        <br>
        <p>The website of the previous NewCrafts Bordeaux editions are available at
            <br>
            {{ range .Params.past }}
                <a href="/{{.}}" class="link-btn light-text">{{ .}}</a>    
                <br>
            {{ end }} 
            
        </p>
    </div>
</section>