<section id="schedule" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <br />
        <br />

        <div class="col-md-10 col-md-offset-1">

            <!-- Schedule start -->
            <div class="row schedule">
                {{ .GetPage "/talks/2019/day1" }}
                <!-- Navigation by day start -->
                <ul class="nav nav-schedule">
                    <li class="active">
                        <a href="#schedule3_day1" data-toggle="tab">
                            <h5 class="highlight">Day 1 - conference</h5>
                            <p class="text-alt">{{ dateFormat "January 2rd" $.Params.startdate }}</p>
                        </a>
                    </li>
                    <li>
                        <a href="#schedule3_day2" data-toggle="tab">
                            <h5 class="highlight">Day 2 — open space</h5>
                            <p class="text-alt">{{ dateFormat "January 2th" $.Params.enddate }}</p>
                        </a>
                    </li>
                </ul>
                <!-- Navigation by day end -->

                <!-- First level content start -->
                <div class="tab-content">

                    <!-- Day 1 content start -->
                    <div id="schedule3_day1" class="tab-pane fade active in">

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Main content start -->
                            <div id="schedule3_day1_main" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="schedule3_day1_main_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-coffee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>8:30 - 9:00</strong>
                                            <h6 class="title">Check-in time
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>9:00 - 9:10</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">Opening words
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle" href="#schedule3_day1_main_keynote">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>9:15 - 10:05</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_keynote"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time2" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>10:10 - 11:00
                                            </strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>

                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time2"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-coffee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>11:00 - 11:25</strong>
                                            <h6 class="title">Break
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time1" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>11:25 - 12:15</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time1"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-cutlery"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>12:15 - 13:30</strong>
                                            <h6 class="title">Lunch time
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time6" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>13:30 - 14:20</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>

                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time6"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time3" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>14:25 - 15:15</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time3"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-coffee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>15:15 - 15:40</strong>
                                            <h6 class="title">Break
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time4" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>15:40 - 16:30</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time4"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            href="#schedule3_day1_main_time5" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>16:35 - 17:25</strong>
                                            -
                                            <strong class="lang highlight">
                                                en
                                            </strong>
                                            <h6 class="title">
                                                <i class="icon icon-arrows-06"></i>
                                                <!--title-->
                                            </h6>
                                        </a>
                                        <div id="schedule3_day1_main_time5"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    <!--p>
                              description
                            </p>
                            <ol>
                              <li>tag1</li>
                              <li>tag2</li>
                            </ol-->
                                                </p>
                                                <strong class="highlight speaker-name">
                                                    <!--Speaker name--></strong>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>17:30 - 18:00</strong>
                                            <h6 class="title">Closing words
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-beer"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>18:30 - 23:00</strong>
                                            <h6 class="title">After</h6>
                                        </a>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Main content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 1 content end -->

                    <!-- Day 2 content start -->
                    <div id="schedule3_day2" class="tab-pane fade in">
                        <!--  navigation by room -->
                        <ul class="nav nav-schedule">
                            <li class="active">
                                <a href="#schedule3_day2_main" data-toggle="tab">Open space</a>
                            </li>
                            <li>
                                <a href="#schedule3_day2_workshop" data-toggle="tab">Workshops</a>
                            </li>
                        </ul>
                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Main content start -->
                            <div id="schedule3_day2_main" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="schedule3_day2_main_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-question"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            class="schedule-item-toggle">
                                            <article>
                                                <p class="description">An
                                                    <strong>open space conference</strong> is a conference format
                                                    where the agenda is created
                                                    by the participants,
                                                    allowing anyone wanting to discuss about a topic to propose it.
                                                    Then anyone interested in
                                                    the
                                                    subject is free to join the discussion.</p>
                                            </article>
                                        </a>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-coffee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>8:30 - 9:00</strong>
                                            <h6 class="title">Check-in time
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>9:00 - 9:15</strong>
                                            <h6 class="title">Opening words
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-forumbee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            href="#schedule3_day2_main_time1" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>9:15 - 9:45</strong>
                                            <h6 class="title">Market place
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                        <div id="schedule3_day2_main_time1"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">During the marketplace, all ideas are
                                                    gathered, exposed and scheduled
                                                    in the available slots. </p>
                                                <strong class="highlight speaker-name">Arnaud Lemaire</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-users"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            href="#schedule3_day2_main_time2" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>10:00 - 12:20</strong>
                                            <h6 class="title">Open space sessions
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                        <div id="schedule3_day2_main_time2"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    Each session is 40mn long.

                                                </p>
                                                <ul>
                                                    <li>Whoever comes is the right people</li>
                                                    <li>Whenever it starts is the right time</li>
                                                    <li>Wherever it is, is the right place</li>
                                                    <li>Whatever happens is the only thing that could have, be
                                                        prepared to be surprised!
                                                    </li>
                                                    <li>When it's over, it's over</li>
                                                </ul>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-cutlery"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>12:20 - 13:40</strong>
                                            <h6 class="title">Lunch time
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-forumbee"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            href="#schedule3_day2_main_time3" class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>13:40 - 14:10</strong>
                                            <h6 class="title">Market place
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                        <div id="schedule3_day2_main_time3"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">During the marketplace, all ideas are
                                                    gathered, exposed and scheduled
                                                    in the available slots. </p>
                                                <strong class="highlight speaker-name">Arnaud Lemaire</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-users"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline"
                                            class="schedule-item-toggle" href="#schedule3_day2_main_time4">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>14:20 - 17:30</strong>
                                            <h6 class="title">Open space sessions
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                        <div id="schedule3_day2_main_time4"
                                            class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">
                                                    Each session is 40mn long.
                                                </p>
                                                <ul>
                                                    <li>Whoever comes is the right people</li>
                                                    <li>Whenever it starts is the right time</li>
                                                    <li>Wherever it is, is the right place</li>
                                                    <li>Whatever happens is the only thing that could have, be
                                                        prepared to be surprised!
                                                    </li>
                                                    <li>When it's over, it's over</li>
                                                </ul>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-microphone"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                            class="schedule-item-toggle">
                                            <strong class="time highlight">
                                                <span class="icon icon-office-24"></span>17:40 - 18:00</strong>
                                            <h6 class="title">Closing words
                                                <i class="icon icon-arrows-06"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Main content end -->

                            <div id="schedule3_day2_workshop" class="tab-pane fade in">
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-keyboard-o"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                        href="#schedule3_day2_workshops_time2" class="schedule-item-toggle">
                                        <strong class="time highlight">
                                            <span class="icon icon-office-24"></span>9:15 - 12:20</strong>
                                        <h6 class="title">
                                            <i class="icon icon-arrows-06"></i>
                                            <!-- title -->
                                        </h6>
                                    </a>
                                    <div id="schedule3_day2_workshops_time2"
                                        class="panel-collapse collapse in schedule-item-body">
                                        <article>
                                            <p class="description">
                                                <!--descr-->
                                            </p>
                                            <strong class="highlight speaker-name">
                                                <!--speaker--></strong>
                                        </article>
                                    </div>
                                </div>
                                <div class="panel schedule-item">
                                    <div class="lecture-icon-wrapper">
                                        <span class="fa fa-cloud"></span>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline"
                                        href="#schedule3_day2_workshops_time1" class="schedule-item-toggle">
                                        <strong class="time highlight">
                                            <span class="icon icon-office-24"></span>13:40 - 17:30</strong>
                                        <h6 class="title">
                                            <i class="icon icon-arrows-06"></i>
                                            <!-- title -->
                                        </h6>
                                    </a>
                                    <div id="schedule3_day2_workshops_time1"
                                        class="panel-collapse collapse in schedule-item-body">
                                        <article>
                                            <p class="description">
                                                <!--descr-->
                                            </p>
                                            <strong class="highlight speaker-name">
                                                <!--speaker--></strong>
                                        </article>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 2 content end -->

                </div>
                <!-- First level content end -->

            </div>
            <!-- Schedule end -->
        </div>
    </div>
</section>