<section id="schedule" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-office-21"></span>
        <h3>Schedule</h3>
        <br />
        <br />

        <div class="col-md-10 col-md-offset-1">

            <!-- Schedule start -->
            <div class="row schedule">
                <!-- Navigation by day start -->
                <ul class="nav nav-schedule">
                    <li class="active">
                        <a href="#schedule_day1" data-toggle="tab">
                            <h5 class="highlight">Day 1 - conference</h5>
                            <p class="text-alt">{{ dateFormat "January 2rd" $.Params.startdate }}</p>
                        </a>
                    </li>
                    <li>
                        <a href="#schedule_day2" data-toggle="tab">
                            <h5 class="highlight">Day 2 — open space</h5>
                            <p class="text-alt">{{ dateFormat "January 2th" $.Params.enddate }}</p>
                        </a>
                    </li>
                </ul>
                <!-- Navigation by day end -->

                <!-- First level content start -->
                <div class="tab-content">

                    <!-- Day 1 content start -->
                    <div id="schedule_day1" class="tab-pane fade active in">

                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Main content start -->
                            <div id="schedule_day1_main" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="schedule_day1_main_timeline">
                                    {{ with printf "/talks/%s/day-1" .Params.selector | .Site.GetPage }}
                                    {{ .Render "all" }}
                                    {{ end }}
                                </div>
                            </div>
                            <!-- Second level content end -->

                        </div>
                    </div>
                    <!-- Day 1 content end -->

                    <!-- Day 2 content start -->
                    <div id="schedule_day2" class="tab-pane fade in">
                        <!--  navigation by room -->
                        <ul class="nav nav-schedule">
                            <li class="active">
                                <a href="#schedule_day2_main" data-toggle="tab">Open space</a>
                            </li>
                            <li>
                                <a href="#schedule_day2_workshop" data-toggle="tab">Workshops</a>
                            </li>
                        </ul>
                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Main content start -->
                            <div id="schedule_day2_main" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="schedule_day2_main_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-question"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#schedule_day2_main_timeline"
                                            class="schedule-item-toggle">
                                            <article>
                                                <p class="description">
                                                    An <strong>open space conference</strong> is a conference format
                                                    where the agenda is created
                                                    by the participants,
                                                    allowing anyone wanting to discuss about a topic to propose it.
                                                    Then anyone interested in
                                                    the
                                                    subject is free to join the discussion.</p>
                                            </article>
                                        </a>
                                    </div>
                                    {{ with printf "/talks/%s/day-2" .Params.selector | .Site.GetPage }}
                                    {{ .Render "all" }}
                                    {{ end }}
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Main content end -->

                            <div id="schedule_day2_workshop" class="tab-pane fade in">
                                <!-- Accordion start -->
                                <div class="panel-group" id="schedule_day1_workshop_timeline">
                                    {{ with printf "/talks/%s/workshop" .Params.selector | .Site.GetPage }}
                                    {{ .Render "all" }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 2 content end -->

                </div>
                <!-- First level content end -->

            </div>
            <!-- Schedule end -->
        </div>
    </div>
</section>